@charset "utf-8";

/* STARTER -
========================================================================== */
@import "starter/reset.scss";
@import "starter/utils.scss";
@import "starter/gcolumns.scss";

/* BASE 1 -
========================================================================== */
@import "base/fonts.scss";
@import "base/variables.scss";

/* VENDOR - Default fall-backs and external files.
========================================================================== */
@import "../../node_modules/mixins-sass/src/mixins.scss";
@import "vendor/griddle";
// @import "vendor/icomoon/style.scss";
// @import "vendor/sprite.scss";
//@import "../../node_modules/family-sass/source/src/family.scss";

/* BASE 2 -
========================================================================== */
@import "base/mixins.scss";
@import "base/placeholders.scss";
@import "base/breakpoints.scss";

/* COMMON - buttons, figures, typography, etc...
========================================================================== */
@import "common/animation.scss";
@import "common/buttons.scss";
@import "common/grid.scss";
@import "common/icons.scss";
@import "common/typography.scss";

/* SKELETON - header, content, sidebar, and footer components
========================================================================== */
// @import "skeleton/footer.scss";
// @import "skeleton/header.scss";
@import "skeleton/layout.scss";
@import "skeleton/navigation.scss";
// @import "skeleton/ui.scss";

/* MODULES - Re-usable site elements.
========================================================================== */


/* PAGES
========================================================================== */
@import "pages/home.scss";